[*.cs]

# CS8622: Допустимость значений NULL для ссылочных типов в типе параметра не соответствует целевому объекту делегирования (возможно, из-за атрибутов допустимости значений NULL).
dotnet_diagnostic.CS8622.severity = silent
